<mat-card appearance="outlined">
  <h2 class="alinear">Listado de categorias</h2>
  <mat-card-header>
    <div>
      <mat-form-field hintLabel="Busque categoría" appearance="fill">
        <mat-label>Buscar categoría</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-card-header>

  <mat-card-header>
    <div class="right">
      <button mat-raised-button color="primary" (click)="(1)">
        Agregar categoría
      </button>
    </div>
  </mat-card-header>

  <div mat-card-image></div>

  <mat-card-content>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Nº</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <!-- actions -->

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-icon-button color="primary" (click)="(1)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="(1)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-content>
</mat-card>
